* {
    font-family: "Times New Roman";
    font-weight: bold;
}

a {
    color: #525252;
}

.top-bar {
    padding-left: 1.5rem;
}

.top-bar a {
    text-decoration: unset;
    padding-right: 2rem;
}

.top-bar .bi {
    padding-right: 0.5rem;
    font-size: 1.3rem;
}

.page-title {
    background-color: rgba(231, 231, 231, 0.45);
    padding: 1.5rem;
    margin: 1rem 0 2rem 0;
}

.page-title div {
    color: #525252;
}

.page-title h1 {
    margin-top: 10px;
}

form .col-4 #preview {
    border: 3px dashed #525252;
    width: 250px;
    height: 250px;
    position: relative;
}

form .col-4 i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: #525252;
}

form .col-8 {
    width: 50%;
}

/* style file input */

.file-input {
    color: transparent;
}

.file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.file-input::before {
    content: 'Choose from database';
    color: #525252;
    display: flex;
    justify-content: center;
    text-decoration: underline;
}